.top{
  display: flex;

  
  &-r{
    width: 504px;
    padding: 40px;
    padding-top: 140px;
    border-left: solid 1px #404040;
 
  }
}
.bot{
  height: 454px;
  display: flex;
  &-l{
    width: calc((100% - 60px)/2);
    >div,>p{
      height: 50%;
    }
    &-t{
      display: flex;
      justify-content: space-between;
      align-items: flex-end;
      padding: 0 30px 4px 40px;
  height: calc(100% - 454px);
  border-bottom: solid 1px #404040;

    }
    &-btns{
      padding-bottom: 8px;
      button{
        color: #bfbfbf;
        margin-right: 8px;
        &:last-child{
          margin-right: 0;
        }
      }
    }
  }
  &-m{
    width: 60px;
  border-left: solid 1px #404040;
  border-right: solid 1px #404040;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 26px 0 20px;
  span{
  transform: rotate(-90deg) translateX(40px);
    
  }
  &::before{
    content: '';
    display: inline-block;
    width: 32px;
    height: 28px;
    background: url(../../../public/images/icons/spirits.png) no-repeat;
    background-size: cover;
  }
  }
  &-r{
    width: calc((100% - 60px)/2);

    font-size: 300px;
    font-weight: 500;
  span{
    display: flex;
    align-items: center;
    flex-shrink: 0;
    height: 100%;
  }
    span.italic{
      font-style: italic;
    }
  .spirits_swiper{
    height: 100%;
    .swiper-wrapper{
      transition-delay: 0;
      transition-timing-function:linear;

    }
    .swiper-slide{
      width: auto;
    }
  }
  }
}