

/* ======================================== 한글 폰트 */
@font-face {
  font-family: 'Pretendard';
  font-style: normal;
  src: url('./fonts/pretendard/Pretendard-Thin.woff') format('woff');
  font-weight: 100;
  unicode-range: U+AC00-D7A3;
}

@font-face {
  font-family: 'Pretendard';
  font-style: normal;
  src: url('./fonts/pretendard/Pretendard-ExtraLight.woff') format('woff');
  font-weight: 200;
  unicode-range: U+AC00-D7A3;

}

@font-face {
  font-family: 'Pretendard';
  font-style: normal;
  src: url('./fonts/pretendard/Pretendard-Light.woff') format('woff');
  font-weight: 300;
  unicode-range: U+AC00-D7A3;

}

@font-face {
  font-family: 'Pretendard';
  font-style: normal;
  src: url('./fonts/pretendard/Pretendard-Regular.woff') format('woff');
  font-weight: 400;
  unicode-range: U+AC00-D7A3;

}

@font-face {
  font-family: 'Pretendard';
  font-style: normal;
  src: url('./fonts/pretendard/Pretendard-Thin.woff') format('woff');
  font-weight: 100;
  unicode-range: U+AC00-D7A3;

}

@font-face {
  font-family: 'Pretendard';
  font-style: normal;
  src: url('./fonts/pretendard/Pretendard-Medium.woff') format('woff');
  font-weight: 500;
  unicode-range: U+AC00-D7A3;

}

@font-face {
  font-family: 'Pretendard';
  font-style: normal;
  src: url('./fonts/pretendard/Pretendard-SemiBold.woff') format('woff');
  font-weight: 600;
  unicode-range: U+AC00-D7A3;

}

@font-face {
  font-family: 'Pretendard';
  font-style: normal;
  src: url('./fonts/pretendard/Pretendard-Bold.woff') format('woff');
  font-weight: 700;
  unicode-range: U+AC00-D7A3;

}

@font-face {
  font-family: 'Pretendard';
  font-style: normal;
  src: url('./fonts/pretendard/Pretendard-ExtraBold.woff') format('woff');
  font-weight: 800;
  unicode-range: U+AC00-D7A3;

}


/* ======================================= 영문 폰트 */

@font-face {
  font-family: 'PP Neue Montreal';
  font-style: normal;
  src: url('./fonts/PPNeueMontreal/PPNeueMontreal-Thin.otf') format('otf');
  font-weight: 100;
  unicode-range: U+0041-005A,U+0061-007A,U+0030-0039;
}

@font-face {
  font-family: 'PP Neue Montreal';
  font-style: normal;
  src: url('./fonts/PPNeueMontreal/PPNeueMontreal-Book.otf') format('otf');
  font-weight: 400;
  unicode-range: U+0041-005A,U+0061-007A,U+0030-0039;
}

@font-face {
  font-family: 'PP Neue Montreal';
  font-style: normal;
  src: url('./fonts/PPNeueMontreal/PPNeueMontreal-Medium.otf') format('otf');
  font-weight: 500;
  unicode-range: U+0041-005A,U+0061-007A,U+0030-0039;
}
@font-face {
  font-family: 'PP Neue Montreal';
  font-style: normal;
  src: url('./fonts/PPNeueMontreal/PPNeueMontreal-Bold.otf') format('otf');
  font-weight: 700;
  unicode-range: U+0041-005A,U+0061-007A,U+0030-0039;
}


@font-face {
  font-family: 'PP Neue Montreal';
  font-style: italic;
  src: url('./fonts/PPNeueMontreal/PPNeueMontreal-Italic.otf') format('otf');
  font-weight: 400;
  unicode-range: U+0041-005A,U+0061-007A,U+0030-0039;
}
@font-face {
  font-family: 'PP Neue Montreal';
  font-style: italic;
  src: url('./fonts/PPNeueMontreal/PPNeueMontreal-SemiBolditalic.otf') format('otf');
  font-weight: 600;
  unicode-range: U+0041-005A,U+0061-007A,U+0030-0039;
}



